annotated-types==0.7.0
anyio==4.14.1
asgiref==3.8.1
astral==3.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.16
django-environ==0.12.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
ifaddr==0.2.0
lxml==6.0.0
numpy==2.5.1
ollama==0.6.2
packaging==24.2
pgvector==0.4.2
psycopg==3.2.6
psycopg2-binary==2.9.10
pydantic==2.13.4
pydantic_core==2.46.4
pywemo==1.4.0
requests==2.32.4
setuptools==75.1.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2024.2
urllib3==2.5.0
uv==0.11.26
wheel==0.44.0